body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: 
}

.header {
    display: flex;
    justify-content: space-between;
}

.header, .info, .footer {
    background-color: #1F2937;
}

.info {
    display: flex;
    padding: 100px;
    gap: 32px;
}


.info-pic {
    background-color: #eee;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    flex: 1 1 0;
}

#scndtext, #links {
    font-size: 18px;
    color: #E5E7EB;
}

#logo, #hero, button {
    color: #F9FAF8;
}

#logo {
    font-size: 24px;
}

#hero {
    font-size: 48px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}
